.FileDescription {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    color: #5F04B4;
    font-weight: bold;
}

.alternate-row {
    background-color: #f2f2f2;
}
